.user-profile--section {
  border-top: 1px solid rgba(32, 34, 39, 0.25);
  padding-top: 3px;
}

.user-profile--section-title {
  font-weight: 500;
  font-size: 16px;
  color: rgba(33, 34, 39, 0.5);
}
