@import "components/Layout/style-guide";

.dashboard-tools {
  position: absolute;
  right: 6px;
}

.devices--device-dashboard {
  height: 100%;
  position: relative;
}
.ant-tabs-tabpane-active {
  .product-details-dashboard-grid {
     min-width: 872px;
  }
}

.devices--device-dashboard--time-filtering {
  display: block;
  //justify-content: flex-start;
  //align-items: flex-start;
  &:first-child {
    margin-top: 0;
  }
  @media (max-width: 1265px) {
    display: block;
    .devices--device-timeline--time-filtering-specific-time-select {
      margin-left: 0;
      margin-top: 8px;
    }
  }
  .devices--device-timeline--time-filtering-specific-time-select {

  }
  .ant-calendar-range-picker-separator {
    line-height: 30px;
    width: 12px;
  }
}

.devices--device-dashboard-loading {
  margin: 20px 12px;
}

.devices--device-dashboard-header-container{
  display: flex;
  justify-content: space-between;
  .devices--device-dashboard-edit-link{
    padding: 5px 10px;
  }
}
