@import "components/Layout/style-guide";

.devices-device-dashboard-time-filter {
  button {
    padding: 8px @style-size-3-1 !important;
  }
  button span {
    font-size: @style-font-size-1-2;
  }
}

.dashboard-tools {
  position: absolute;
  right: 6px;
}
