@import "components/Layout/style-guide";

.admin-invite-form {
  margin: 32px 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.admin-invite-form--button {
  min-width: 92px;
}

.admin-invite-form--error {
  color: @color-critical;
}
