@import "components/Layout/style-guide";

.content-editable-input--input {
  input {
    line-height: 42px;
    color: #212227;
    border: 0;
    background-color: transparent;
    padding: 0;

    .font-book-custom-device-name-title;
  }
  margin-right: 4px;
}

.content-editable-input--value {
  line-height: 42px;
  margin-right: 6px;
}

.content-editable-input--btn {
  display: inline-block;
  vertical-align: middle;
}
