@import "style-guide";
@import "font-variables";

.font-book-label {
  font-family: @font-family-basic-font;
  font-size: @font-size-label;
  font-weight: @font-weight-label;
  color: @font-color-label;
}

.font-book-label-light {
  .font-book-label;

  color: @font-color-light;
}

.font-book-label-strong {
  .font-book-label;

  color: @font-color-base;
}

.font-book-text {
  font-family: @font-family-basic-font;
  font-size: @font-size-base;
  font-weight: @font-weight-base;
  color: @font-color-base;
}

.font-book-text-group-title {
  font-family: @font-family-basic-font;
  font-size: @font-size-medium;
  font-weight: @font-weight-notice;
  color: @font-color-light;
}

.font-book-text-group-title-dark {
  .font-book-text-group-title;
  color: @font-color-base;
}

.font-book-text-light {
  .font-book-text;
  color: @font-color-light;
}

.font-book-chart-label {
  font-family: @font-family-chart-tooltip;
  font-size: @font-size-label;
  font-weight: @font-weight-label;
  color: @font-color-light;
}

.font-book-page-title {
  font-family: @font-family-basic-font;
  font-size: @font-size-page-title;
  font-weight: @font-weight-bold;
  color: @font-color-light;
}

.font-book-device-page-title {
  font-family: @font-family-basic-font;
  font-size: @font-size-device-page-title;
  font-weight: @font-weight-base;
  color: @font-color-base;
}

.font-book-linearicon {
  font-size: @font-size-icon-default;
}

.font-book-list-item-name {
  font-family: @font-family-basic-font;
  font-size: @font-size-notice;
  font-weight: @font-weight-bold;
  color: @font-color-white;
}

.font-book-notice-text {
  font-family: @font-family-basic-font;
  font-size: @font-size-notice;
  font-weight: @font-weight-base;
  color: @font-color-base;
}

.font-book-notice-text-bold {
  .font-book-notice-text;

  font-weight: @font-weight-bold;
}

.font-book-h2 {
  font-family: @font-family-basic-font;
  font-size: @font-size-h2;
  font-weight: @font-weight-extra-bold;
  color: @font-color-base;
}

.font-book-h3 {
  font-family: @font-family-basic-font;
  font-size: @font-size-h3;
  font-weight: @font-weight-bold;
  color: @font-color-base;
}

.font-book-h3-light {
  .font-book-h3;
  color: @font-color-light;
}

/** Components */

/** Components >> Branding Color */

.font-book-custom-branding-color-picker-name {
  .font-book-label;
}

.font-book-custom-branding-color-picker-box-color-code {
  .font-book-text;
}

/** Components >> Chart */

.font-book-custom-chart-tooltip {
  .font-book-label;
  .font-book-chart-label;
}

/** Components >> Devices */

.font-book-custom-device-name-title {
  .font-book-device-page-title;
}

/** Components >> DeviceMetadata >> Item **/

.font-book-custom-device-metadata-item-icon {
  .font-book-linearicon;
}

/** Components >> Fieldset **/

.font-book-custom-fieldset {
  .font-book-label;
}

/** Components >> ImageUploader **/

.font-book-custom-image-uploader-icon {
  font-size: @font-size-18;
}

/** Components >> Field **/

.font-book-custom-field-icon {
  font-size: @font-size-13;
}

/** Components >> MainList **/

.font-book-custom-list-item-name {
  .font-book-list-item-name;
}

.font-book-custom-list-item-amount {
  .font-book-notice-text;
  color: @font-color-white;
}

.font-book-custom-list-empty-title {
  .font-book-h2;
}

.font-book-custom-list-empty-description {
  .font-book-text-light;
  font-weight: @font-weight-notice;
}

/** Components >> Widget >> Label **/

.font-book-custom-widget-label-value-x1 {
  font-size: @font-size-36;
}
.font-book-custom-widget-label-value-x1-suffix {
  font-size: @font-size-18;
}

.font-book-custom-widget-label-value-x2 {
  font-size: @font-size-72;
}
.font-book-custom-widget-label-value-x2-suffix {
  font-size: @font-size-32;
}

.font-book-custom-widget-label-value-x3 {
  font-size: @font-size-144;
}
.font-book-custom-widget-label-value-x3-suffix {
  font-size: @font-size-72;
}

/** Components >> Widget >> Slider **/

.font-book-custom-widget-slider-value {
  font-family: @font-family-widget-numeric-font;
  font-size: @font-size-36;
  font-weight: @font-weight-base;
}
.font-book-custom-widget-slider-value-suffix {
  font-weight: @font-weight-base;
  font-family: @font-family-widget-suffix;
  font-size: @font-size-18;
}
.font-book-custom-widget-slider-value-suffix {
  font-family: @font-family-basic-font;
  font-weight: @font-weight-base;
  font-size: @font-size-12;
  color: @font-color-base;
}

/** Component >> Widget **/

.font-book-custom-widget-label {
  font-family: @font-family-basic-font;
  font-weight: @font-weight-notice;
  font-size: @font-size-18;
  color: @font-color-base;
}

/** Component >> Connecting **/

.font-book-custom-connection-loading-title {
  font-family: @font-family-basic-font;
  font-weight: @font-weight-base;
  font-size: @font-size-48;
  color: @font-color-base;
}

.font-book-custom-connection-loading-placeholder {
  font-family: @font-family-basic-font;
  font-weight: @font-weight-base;
  font-size: @font-size-16;
  color: @font-color-base;
}

//.widget-numeric-value-large {
//  font-family: @font-family-widget-numeric-font;
//  font-size: @font-size-144;
//  font-weight: @font-weight-base;
//}
