@import "components/Layout/style-guide";

.device-metadata--item {
  .block-idle-state;

  background: transparent;
  padding: 16px;
  line-height: 1;
  min-height: 100px;

  &:hover {
    .block-hover-state;
  }
}
