@import "components/Layout/style-guide";

.devices--toolbar {
  flex-shrink: 0;
  margin: @style-size-3-1-1 @style-size-4 8px;
  > * {
    margin: 0 @style-size-2;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  > *.active {
    > i {
      color: @color-primary;
    }
  }
}
