@import "components/Layout/style-guide";

.widgets--label-widget--settings-group-name {
  font-size: @style-font-size-3;
  margin-top: @style-size-4-2;
  margin-bottom: @style-size-2;

  &.widgets--label-widget--settings-group-name--level {
    margin-top: @style-size-3;
  }
}

.widgets--label-widget--settings-background-color-picker {
  .branding-color-picker-color-preview-specific, .branding-text-color-picker-color-preview-specific {
    border: 1px solid #ccc;
  }
}

.widgets--label-widget-background-colors-set {
  .branding-color-picker-color-preview-specific, .branding-text-color-picker-color-preview-specific {
    border-radius: 5px 0 0 5px !important;
    margin-top: -1px !important;
  }
}

.widgets--label-widget-background-colors-set--add-button {
  width: 32px;
  padding: 8px;
  margin-left: 2px;
}

.widgets--label-widget-background-colors-set--remove-button {
  margin-top: 16px;
  padding: 7px;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  opacity: 0;
  border: 0;
  &:active, &:focus, &:hover {
    background: #fff;
    span {
      color: @color-critical;
    }
  }
}

.widgets--label-widget-background-colors-set:hover {
  .widgets--label-widget-background-colors-set--remove-button {
    opacity: 1;
    transition: 1s;
  }
}

.widgets--widget .web-label-level {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: #cbcbcc;
}

.widgets--widget .web-label-level.vertical {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 8px;
  height: 100%;
}

.widgets--widget .web-label-level.horizontal {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  height: 8px;
}

.widgets--widget-web-label--alignment-left {
  text-align: left;
}

.widgets--widget-web-label--alignment-center {
  text-align: center;
}

.widgets--widget-web-label--alignment-right {
  text-align: right;
}

.widgets--widget-web-label--value-size-1 {
  vertical-align: top;
  line-height: 36px;

  .widgets--widget-web-label--number-value, .widgets--widget-web-label--string-value {
    font-size: 36px;
  }
  .widgets--widget-web-label--suffix {
    font-size: 18px;
  }
}

.widgets--widget-web-label--value-size-2 {
  vertical-align: top;
  line-height: 72px;

  .widgets--widget-web-label--number-value, .widgets--widget-web-label--string-value {
    font-size: 72px;
  }
  .widgets--widget-web-label--suffix {
    font-size: 32px;
  }
}

.widgets--widget-web-label--value-size-3 {
  vertical-align: top;
  line-height: 144px;

  .widgets--widget-web-label--number-value, .widgets--widget-web-label--string-value {
    font-size: 144px;
    vertical-align: middle;
  }
  .widgets--widget-web-label--suffix {
    font-size: 72px;
  }
}

.widgets--widget-web-label--string-value {
  font-weight: 200;
  vertical-align: bottom;
  line-height: 1;
}

.widgets--widget-web-label--number-value {
  font-family: 'Phenomena-Thin', sans-serif;
  vertical-align: bottom;
  line-height: 1;
}

.widgets--widget-web-label {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.widgets--widget-web-label--container {
  width: 100%;
}

.widgets--widget-web-label--suffix {
  font-family: 'Bebas Neue';
  font-weight: 300;
}

.widgets--switch-widget--settings-h3 {
  margin-top: 64px;
  margin-bottom: 20px;
}
