.devices--device-timeline--time-filtering {
  display: block;
  justify-content: flex-start;
  align-items: flex-start;
  &:first-child {
    margin-top: 0;
  }
  @media (max-width: 1265px) {
    display: block;
    .devices--device-timeline--time-filtering-specific-time-select {
      margin-left: 0;
      margin-top: 8px;
    }
  }
  .ant-calendar-range-picker-separator {
      line-height: 30px;
      width: 12px;
  }
}

.devices--device-timeline--time-filtering-time-select {

}

.devices--device-timeline--time-filtering-specific-time-select {
  //width: 360px;
  margin: 10px 0;
}

