@import "components/Layout/style-guide";

.modal-window {
  .ant-modal {

    .ant-modal-header {
      border-bottom: 0;
      .ant-modal-title {
        .font-h2;
        font-weight: 500;
      }
    }

    .ant-modal-footer {
      border-top: 0;
      background: @color-dark-grey-05;

    }

    .ant-modal-header + .ant-modal-body {
      padding-top: 0;
    }

    .ant-modal-header, .ant-modal-body {
      padding: 32px;
    }
    .ant-modal-footer {
      padding: 24px;

      button {
        padding: @style-size-2 @style-size-3;
        &.ant-btn-loading {
          padding-left: @style-size-4 - 4;
        }
      }
    }
  }
}

.ant-modal {

  .ant-confirm-body .ant-confirm-title {
    .font-h2;
    line-height: 1;
  }

  .ant-confirm-content {
    .font-book-text;
    margin-top: 32px;
    margin-left: 0;
  }

  .ant-confirm-btns {
    float: none;
    background: @color-dark-grey-05;
    margin: -32px -40px;
    padding: 24px;
    margin-top: 32px;
    text-align: right;
    .ant-btn {
      padding: 8px 16px;
    }
  }

}
