@import "components/Layout/style-guide";
@import "scenes/Products/components/Metadata/styles";

.user-profile--roles-and-permissions--list-of-permissions {
  .user-profile--roles-and-permissions--list-of-permissions--header {
    display: flex;
    flex-direction: row;
    margin-left: 4px;

    .user-profile--roles-and-permissions--list-of-permissions--actions {
      width: 284px;
      height: 79px;
      padding: 16px;
      border-radius: 4px;
      margin-right: 16px;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      border-radius: 4px;
      box-shadow: 0 10px 30px 0 rgba(33, 34, 39, 0.1);

      .user-profile--roles-and-permissions--list-of-permissions--actions-links {
        display: flex;
        flex-direction: row;
        font-family: Lato;
        font-size: 16px;

        a {
          margin-right: 16px;
        }
      }
    }

    .user-profile--roles-and-permissions--list-of-permissions--role {
      width: 168px;
      height: 79px;
      border-radius: 4px;
      box-shadow: 0 10px 30px 0 rgba(33, 34, 39, 0.1);
      background-color: @color-primary;
      color: @color-white;
      margin-right: 16px;

      .user-profile--roles-and-permissions--list-of-permissions--role-header {
        font-family: Roboto;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        margin: 16px 0px 8px 16px;
      }

      .user-profile--roles-and-permissions--list-of-permissions--users-count {
        margin: 8px 0px 16px 16px;
        font-family: Roboto;
        font-size: 12px;
        color: @color-white-75;
      }
    }
  }
}

.list-of-permissions-collapsed {
  margin: 32px -24px;

  .ant-collapse.no-styles {
    border: none;
    background: none;
    padding: 0;
    margin: 0;

    > .ant-collapse-item {
      border: 0;
      padding: 0;
      box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(33, 34, 39, 0.1);

      > .ant-collapse-header {
        border: 0;

        border-radius: 5px;
        padding: 24px 48px 24px 8px;
        margin: 0px 18px;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 500;
        color: @color-dark-grey-75;

        > div {
          max-width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          > span {
            font-size: 16px;
            margin-right: 16px;
          }
        }

        > i.arrow {
          display: none;
        }

        &:hover {
          background: @color-primary-01;
        }

        &:active {
          background: @color-primary-01 !important;
        }
      }

      > .ant-collapse-content {
        padding: 0;
        margin: 0;

        > .ant-collapse-content-box {
          padding: 0;

          margin: 8px 24px;
        }
      }
    }

    > .ant-collapse-item-active {
      box-shadow: none;
    }
  }

  .list-of-permissions-collapsed-panel {
    margin-bottom: 32px;
  }
}

.permissions-table-main-column {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #212227;
  vertical-align: center;
  margin-left: 40px;
}

.permissions-table-switch {
  margin-left: 72px;
}

.roles-list--role--table-border {
  border-bottom: 1px solid #e9e9e9;
}
