.device--device-info {
  max-width: 700px;
}

.device--device-info .fieldset {
  margin: 32px 16px;
}

.device--device-info-logo {
  margin: 32px 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 168px;
  img {
    max-width: 168px;
    max-height: 168px;
    border-radius: 5px;
  }
}
