@import 'components/Layout/style-guide';

.login-form {
  width: 408px;
  background-color: white;
  padding: 32px 32px 1px 32px;
  border-radius: 8px;
  text-align: center;
  .base-shadow;
  .form-header {
    .font-h2;
  }
}

.login-error {
  margin-bottom: 8px;
  color: @color-critical;
}

.login-form-forgot {
  .font-body-hint;
  text-decoration: underline;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.login-form-button {
  width: 200px;
  margin-top: 24px;
}
