@import "components/Layout/style-guide";

@dnd-cursor: row-resize;

.product-metadata-item-active {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.10);
  .product-metadata-item-tools {
    opacity: 1;
  }
}

.product-metadata-item {
  position: relative;
  padding: @style-size-4 @style-size-3 (@style-size-4 - 24px) 80px;

  border-radius: 5px;
  transition: 0.3s;
  transition-property: box-shadow;
  &:hover {
    .product-metadata-item-active;
  }
  &.active {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.10);
  }
}

.product-metadata-item-static {
  padding: @style-size-4 @style-size-3 (@style-size-4);
  &:hover {
    box-shadow: none;
  }
  &.active {
    box-shadow: none;
  }
}

.product-metadata-item-drag-active {
  cursor: @dnd-cursor !important;
  pointer-events: auto !important;
  background: @color-white;
  opacity: 1;
  transition-property: box-shadow;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
  z-index: 20;
  border-radius: 5px;
  .product-metadata-item-tools {
    opacity: 1;
  }
}

.product-metadata-item-tools {
  transition: 0.5s;
  transition-property: opacity;
  opacity: 0;
  display: flex;
  position: absolute;
  right: @style-size-3-1;
  top: @style-size-1;
  flex-direction: column;
  > button, > i {
    height: 24px;
    line-height: 24px;
    margin: @style-size-1 0;
  }

  i.cursor-move {
    cursor: @dnd-cursor !important;
  }
}

.product-metadata-items-list {
  padding: @style-size-4 0 0;
}

.product-metadata-items-list-static {
  padding: 0;
}

.product-metadata-item-unit-dropdown {
  width: 196px !important;
  max-height: 300px !important;
}

.product-metadata-static-field {
  font-weight: 300;
  width: 100%;
  min-height: 32px;
  border-radius: 4px;
  background-color: @color-dark-grey-05;
  padding: 8px;
  line-height: 16px;
  &.no-value {
    color: @color-dark-grey-50;
  }
}

.product-metadata-static-field-inline {
  .product-metadata-static-field;
  width: auto;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  &:last-child {
    margin-left: 0;
  }
}

.ant-input-group {
  .product-metadata-static-field {
    border-right: 1px solid @color-dark-grey-25;
    &:last-child {
      border-right: 0;
      border-radius: 0 4px 4px 0;
    }
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
}

.no-mouse-selection *, .product-metadata-item-drag-active * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
