.user-profile--section--item {
  margin-top: 25px;
  margin-left: 16px;
}

.user-profile--section--item-title {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: rgba(33, 34, 39, 0.5);
}

.user-profile--section--item-content {
  font-weight: 300;
  font-size: 24px;
  color: #212227;
  line-height: normal;
}
