.login-page {
  height: 100%;
  background-color: #23c890 !important;
}

.login-form {
  width: 345px;
  background-color: white;
  padding: 32px 72px 8px 72px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  .form-header {
    font-size: 24px;
    font-weight: 300;
  }
}

.login-form-forgot {
  font-size: 16px;
  font-weight: 300;
  color: rgba(33, 34, 39, 0.75);
  text-decoration: underline;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.login-form-button {
  width: 100%;
}
