@import "components/Layout/style-guide";

.product-metadata-item--preview {
  padding-top: @style-size-1;
  div {
    display: inline-block;
    margin: 0;
  }
}

.product-metadata-item--preview--name {
  .font-input;
  font-weight: 500;
}

.product-metadata-item--preview--value {
  .font-input;
  word-wrap: break-word;
  max-width: 100%;
}

.product-metadata-item--preview--unavailable {
  .font-input;
  color: @color-critical;
  font-weight: 500;
}
