/* @todo put colors font sizes etc. to config in variables */
@import 'components/Layout/style-guide';

.user-layout--header {
  height: @style-size-5;
  background: @color-primary-5;
  padding: 0 @style-size-4;
}

.user-layout--header-logo {
  height: @style-size-5;
  padding: @style-size-2 0;
  float: left;
  img {
    max-width: 200px;
    max-height: 48px;
  }
}

.user-layout--header-menu {
  background: none;
  border: 0;
  padding: calc(@style-size-4 / 2) 0;
  float: right;
  li {
    &.ant-menu-item {
      .font-menu-item;
      margin: 0 @style-size-3;
      padding: 0 @style-size-2;
      border-radius: @style-size-1;
      height: @style-size-4;
      border: 0 !important;
      &:hover {
        color: @color-white;
        background: @color-primary-4-30;
      }
    }
    &.ant-menu-item-selected {
      color: @color-white;
      background: @color-primary-6;
      &:hover {
        background: @color-primary-6;
      }
    }
    &.ant-menu-item-active {
      color: @color-white;
      background: @color-primary-6;
      border-bottom: 0 !important;
    }
  }
}

.user-layout--header-user {
  .font-simple-white;
  float: right;
  height: @style-size-4;
  margin: calc(@style-size-4 / 2) 0 calc(@style-size-4 / 2) 30px;
}

.user-layout--header-user-button {
  border: 0;
  transition-timing-function: ease;
  background-color: @color-primary-6;
  margin-left: 8px;
  i {
    font-size: @style-font-size-2 !important;
  }
}

.user-layout--menu-divider {
  margin-top: 35px;
}
