@import "components/Layout/style-guide";

.product-device-force-update {
}

.product-device-force-update-title {
  .font-body-text;
  margin-bottom: 28px;
  span {
    font-weight: 400;
  }
}

.product-device-force-update-option {
  .font-body-text;
  font-weight: 400;
}

.product-device-force-update-option-title {
  margin-bottom: 16px;
}

.product-device-force-update-option-options {
  margin-left: 16px;
  .ant-radio-wrapper {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
