@import "components/Layout/style-guide";

.layout-create-tab-inner {
  padding-top: 32px;
  padding-left: 16px;
}

.layout-create-logo-dnd {
  margin-top: @style-size-3;
  padding-bottom: @style-size-4-1;
  height: 329px;
}

