.logo-uploader {
}

.logo-uploader-title {
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
}

.logo-uploader-title-info {
  color: rgba(33, 34, 39, 0.5);
  margin-left: 4px;
}

.logo-uploader-dropdown-zone {
  width: 304px;
  height: 116px;
  margin-top: 8px;
}
