@import 'components/Layout/style-guide';

.login-scene {
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  background-image: radial-gradient(circle at 100% 100%, @color-dark-grey-03, @color-dark-grey-05 50%);
}

.login-logo-wrapper {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: flex-end;

  .login-logo {
    background: url('../../assets/logo.png');
    width: 192px;
    height: 64px;
    background-size: 100% 100%;
    display: flex;
  }
}

.login-bottom-label {
  color: @color-white;
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  padding: 20px;
}
