@import "components/Layout/style-guide";

.content-section {
  margin: 0 32px;
}

.content-section--name {
  padding-top: 4px;
  border-top: 1px solid @color-dark-grey-25;
  .font-book-text;
  color: @color-dark-grey-75;
  padding-bottom: @style-size-4;
}
