@import 'components/Layout/style-guide';

.form-item {
  //margin: @style-size-4 0;
  &:last-child {
    margin-bottom: 0;
  }
  &.none-offset {
    margin: 0;
  }
}

.form-item-title {
  .font-field-name-label;
  height: @style-font-size-1;
  text-transform: uppercase;
  padding-left: @style-size-1;
  margin-bottom: @style-size-1;
}

.form-item-title-group {
  display: flex;
  height: @style-font-size-1;
  margin-bottom: 4px;
}

.form-item-content {
  padding-left: @style-size-1;
  &.input {
    padding-left: 0;
  }
  .ant-form-item {
    margin-left: -@style-size-1;
  }
}
