@import 'components/Layout/style-guide';

@dnd-cursor: row-resize;

.product-events-list {
  padding: @style-size-3-1 0;

  .product-metadata-item {
    padding: @style-size-2 @style-size-3;
    .ant-timeline-item-head {
      width: 16px;
      height: 16px;
      margin-left: -2px;
      margin-top: 48px;
    }
    .ant-timeline-item-content {
      padding-bottom: 2px;
      padding-left: 28px;
    }
    &.static {
      &:hover {
        box-shadow: none;
      }
    }
    &:hover {
      .product-events-event-tools {
        opacity: 1;
      }
    }
  }

}

.product-events-event-tools {
  transition: 0.5s;
  transition-property: opacity;
  opacity: 0;
  margin-top: @style-size-2;
}

.product-events-event-content, .product-events-event-preview {
  margin-top: @style-size-3-2;
}

.product-events-event-preview {
  word-wrap: break-word;
  .ant-form-item-control {
    font-family: 'PF DinDisplay Pro', sans-serif;
    font-size: 12px;
    .product-metadata-item--preview--unavailable {
      font-family: 'PF DinDisplay Pro';
    }
  }
}

.product-events-event-tools {
  .cursor-move {
    cursor: @dnd-cursor;
  }
  > i {
    font-size: 16px;
    margin: 4px;
  }
  > * {
    margin: 4px 0;
  }
}

.product-events-item-drag-active {
  .product-events-list > .product-metadata-item;

  border-radius: 5px;

  cursor: @dnd-cursor !important;
  pointer-events: auto !important;
  background: @color-white;
  opacity: 1;
  transition-property: box-shadow;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
  z-index: 20;

  .product-events-event-tools {
    opacity: 1;
  }

  padding: 0;
  .product-metadata-item {
    padding: 8px 16px;
  }
}

.product-events-notifications-label {
  vertical-align: middle;
  margin-left: 8px;
}

.product-events-list.no-mouse-selection, .product-events-item-drag-active * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
