.rangeslider-container {
  .rangeslider-bg, .rangeslider-mask-min, .rangeslider-mask-max, .rangeslider-slidebox {
    height: 24px !important;
  }
  .rangeslider-handle-max, .rangeslider-handle-min {
    stroke-width: 0;
    fill: #007dc4;
    opacity: .8;
    height: 24px !important;
    y: -.5;
  }
  .rangeslider-mask-min, .rangeslider-mask-max {
    background: rgb(0, 0, 0);
    opacity: .1;
  }
  .rangeslider-slidebox {
    fill: #007dc4;
    opacity: .1;
  }

  .rangeslider-rangeplot.xy {
    display: none;
  }
}

.plot-container {
  .legend {
    .layers {
      .legendlines {
        .js-line {
          stroke-width: 8px !important;
          stroke-linecap: round;
          d: path('M 5 0 h 0');
        }
      }
    }
    text.legendtext {
      transform: translateX(-25px);
    }
  }
}
