@import "components/Layout/style-guide";

.devices-search {
  flex-shrink: 0;
  margin: @style-size-3 + 4 31px 0;
  i {
    cursor: pointer;
  }
}

.smart-search--dropdown{
  li:first-child{
    /* don't show default antd tag suggestion */
    display: none;
  }
}

.smart-search--label-option{
  margin: 0px 0 -8px;

  &:hover{
    background-color: transparent;
    cursor: default;
  }
}

.smart-search--select{
  min-height: 32.5px; /* to be "on same page" with non smart search <input /> field*/

  .ant-select-selection{
    padding: 0 8px;
  }

  .ant-select-selection__rendered{
    margin: 0;
  }
}
