@import "components/Layout/style-guide";

.widgets--widget {
  padding: @style-size-2 @style-size-3;
  background: #fff;
  box-shadow: 0 0 10px 0 @color-dark-grey-12;
  border-radius: 5px;

  &:hover {
    .widgets--widget-tools {
      opacity: 1;
    }
  }
}

.widget--chart-loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 32px;
  }
}

.widgets--widget.react-draggable-dragging {
  .block-hover-state;
  opacity: 1;
  z-index: 999;
}

.widgets--widget-label {
  padding-right: 70px;
  line-height: 44px;
  vertical-align: bottom;
  flex-basis: 32px;
  height: 32px;
  font-size: @style-font-size-4;
  font-weight: 400;
  > div {
    height: 32px;
  }
}

.widgets--widget-container {
  flex-basis: 100%;
  position: relative;
  > * {
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.widgets--widget-tools {
  transition: .3s ease;
  opacity: 0;
  line-height: 16px;
  position: absolute;
  top: @style-size-1-1;
  right: @style-size-1-1;
  .ant-btn-sm i {
    font-size: 14px;
    &.anticon-delete {
      color: @color-critical;
    }
  }
}

.widgets--widget-editable {
  padding: @style-size-3;
  background: #fff;
  box-shadow: 0 0 10px 0 @color-dark-grey-12;
  border-radius: 5px;
  cursor: grab;
}

.widgets--widget {

  position: relative;
  display: flex;
  flex-direction: column;
  .grid-linear-widget {
    position: relative;
    margin-top: @style-size-2;
    flex-basis: 100%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    > div {
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;
    }
  }

  .react-grid-placeholder {
    background: @color-primary-5;
    opacity: 0.05;
  }

  .react-resizable-handle {
    width: 32px;
    height: 32px;
    background: #000;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: se-resize;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.modal-window-widget-settings {
  text-align: center;
  //white-space: nowrap;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }

  .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
    width: 80% !important;
    max-width: 1024px;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .ant-modal-content {
    height: 100%;
    min-height: 600px;
  }
  .ant-modal-body {
    padding: 0 !important;
    height: ~"calc(100% - 80px)";
    > .ant-row-flex {
      height: 100%;
    }
  }
}

.modal-window-widget-settings-config-column,
.modal-window-widget-settings-preview-column {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 32px 32px 0;
  height: 100%;
  .widgets {
    margin-top: -8px;
    height: 100%;
  }
}

.modal-window-widget-settings-preview-column {
  background-color: #fafafa;
}

.modal-window-widget-settings-config-widget-name {
  .font-h2;
  min-height: 36px;
  overflow: hidden;

  input {
    height: 28px;
    font-size: 24px;
    color: #212227;
    font-weight: 300;
    border: 0;
    border-bottom: 1px dashed @color-dark-grey-25;
  }

  button {
    opacity: 0;
    vertical-align: middle;
  }

  &:hover {
    button {
      opacity: 1;
    }
  }

}

.modal-window-widget-settings-config-add-source {
  position: absolute;
  top: 2px;
  right: 0;
}

.modal-window-widget-settings-config-column-header {
  position: relative;
  //padding-right: 120px; uncomment when return Add Source button
  margin-top: -10px;
}

.modal-window-widget-settings-config-column-sources {
  margin: @style-size-3 -@style-size-3-2;
  height: 100%;
  overflow: auto;
  margin-bottom: 0;
  padding: @style-size-2 @style-size-3-2 @style-size-3-1;
  .inset-top-shadow {
    box-shadow: inset 0 12px 20px -20px rgba(0, 0, 0, 0.5);
  }
  .inset-bottom-shadow {
    box-shadow: inset 0 -6px 20px -12px rgba(0, 0, 0, 0.5);
  }
  .inset-top-bottom-shadow {
    box-shadow: inset 0 12px 20px -20px rgba(0, 0, 0, 0.5), inset 0 -6px 20px -12px rgba(0, 0, 0, 0.5);
  }
}

.modal-window-widget-settings-config-column-sources-source {
  padding: @style-size-3;
  .base-shadow-light;
  border-radius: 5px;
  margin: @style-size-3 0;
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.modal-window-widget-settings-config-column-sources-source-header {
  margin-top: -5px;
  position: relative;
  padding-right: 88px;
  margin-bottom: @style-size-3-1;
}

.modal-window-widget-settings-config-column-sources-source-header-name {
  input {
    height: 24px;
    .font-active-tab;
    font-weight: 300;
    border: 0;
    border-bottom: 1px dashed @color-dark-grey-25;
  }
}

.modal-window-widget-settings-config-column-sources-source-header-tools {
  position: absolute;
  right: 4px;
  top: 4px;
  i {
    font-size: 14px !important;
  }
}

.modal-window-widget-settings-config-column-sources-source-chart-type {
  margin: @style-size-3-1 0;
}

.modal-window-widget-settings-config-column-bar-configuration {
  margin: @style-size-3-1 @style-size-3;

  .ant-form-item-control > .ant-row.ant-form-item{
    margin-bottom: 0;
  }
}
