@import "components/Layout/style-guide";

.connection-loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .font-book-custom-connection-loading-title;
}

.connection-loading--placeholder {
  margin-top: 12px;

  .font-book-custom-connection-loading-placeholder;
}
