@import "antd/dist/antd.less";
@import "style-guide";
// Prefix
@ant-prefix: ant;

// Color
@primary-color: @color-primary-6;
@success-color: @green-6;
@error-color: @red-6;
@highlight-color: @color-dark-grey-50;
@warning-color: @yellow-6;
@normal-color: #d9d9d9;

@primary-1: @color-primary-1; // replace tint(@primary-color, 90%)
@primary-2: @color-primary-2; // replace tint(@primary-color, 80%)
@primary-3: @color-primary-3;
@primary-4: @color-primary-4;
@primary-5: @color-primary-5; // replace tint(@primary-color, 20%)
@primary-6: @color-primary-6; // don't use, use @primary-color
@primary-7: @color-primary-7; // replace shade(@primary-color, 5%)
@primary-8: @color-primary-8;
@primary-9: @color-primary-9;
@primary-10: @color-primary-10;

// ------ Base & Require ------
@body-background: #fff;
@component-background: #fff;
@font-family: 'PF DinDisplay Pro', sans-serif;
@code-family: Consolas, Menlo, Courier, monospace;
@heading-color: fade(#000, 85%);
@text-color: fade(#000, 65%);
@text-color-secondary: fade(#000, 43%);
@disabled-color: fade(#000, 25%);
@heading-color-dark: fade(#fff, 97%);
@text-color-dark: fade(#fff, 91%);
@text-color-secondary-dark: fade(#fff, 67%);
@disabled-color-dark: fade(#fff, 35%);
@font-size-base: 14px;
@font-size-lg: @font-size-base + 2px;
@line-height-base: 1.5;
@border-radius-base: 4px;
@border-radius-sm: 2px;

// ICONFONT
@iconfont-css-prefix: anticon;
@icon-url: "https://at.alicdn.com/t/font_k9s3hj21flqmpldi";

// LINK
@link-color: @primary-color;
@link-hover-color: @primary-5;
@link-active-color: @primary-7;
@link-hover-decoration: none;

// Animation
@ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
@ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
@ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
@ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
@ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
@ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
@ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
@ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
@ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
@ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
@ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
@ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

// Border color
@border-color-base: @color-dark-grey-25; // base border outline a component
@border-color-split: #e9e9e9; // split border inside a component
@border-width-base: 1px; // width of the border for a component
@border-style-base: solid; // style of a components border

// Outline
@outline-blur-size: 0;
@outline-width: 2px;
@outline-color: @primary-color;

// Background color
@background-color-base: #f7f7f7; // basic gray background

// Shadow
@box-shadow-base: @shadow-1-down;
@shadow-1-up: 0 -1px 6px @shadow-color;
@shadow-1-down: 0 1px 6px @shadow-color;
@shadow-1-left: -1px 0 6px @shadow-color;
@shadow-1-right: 1px 0 6px @shadow-color;
@shadow-2: 0 2px 8px @shadow-color;

// Buttons

.buttonGenerator(
  @btn-color,
  @btn-border-color,
  @btn-bg,
  @btn-shadow: none
) {
  background-color: @btn-bg;
  border-color: @btn-border-color;
  color: @btn-color;
  box-shadow: @btn-shadow;
}

@btn-font-weight: 300;
@btn-border-radius-base: 30px;
@btn-border-radius-sm: 30px;

/*** PRIMARY BUTTON ***/
@btn-primary-idle-color: @color-white;
@btn-primary-idle-border-color: transparent;
@btn-primary-idle-bg: @color-dark-grey-75;

@btn-primary-hover-color: @color-white;
@btn-primary-hover-border-color: transparent;
@btn-primary-hover-bg: @color-dark-grey;

@btn-primary-active-color: @color-white;
@btn-primary-active-border-color: transparent;
@btn-primary-active-bg: @color-dark-grey;
@btn-primary-active-shadow: 0 0 0 2px @color-dark-grey-12;

@btn-primary-disabled-color: @color-white;
@btn-primary-disabled-border-color: transparent;
@btn-primary-disabled-bg: @color-dark-grey-75;

/*** GHOST BUTTON ***/

@btn-ghost-idle-color: @color-dark-grey-75;
@btn-ghost-idle-border-color: @color-dark-grey-75;
@btn-ghost-idle-bg: transparent;

@btn-ghost-hover-color: @color-dark-grey-75;
@btn-ghost-hover-border-color: @color-dark-grey-75;
@btn-ghost-hover-bg: @color-dark-grey-05;

@btn-ghost-active-color: @color-dark-grey-75;
@btn-ghost-active-border-color: @color-dark-grey-75;
@btn-ghost-active-bg: @color-dark-grey-12;
@btn-ghost-active-shadow: 0 0 0 2px @color-dark-grey-12;

@btn-ghost-disabled-color: @color-dark-grey-75;
@btn-ghost-disabled-border-color: @color-dark-grey-75;
@btn-ghost-disabled-bg: transparent;

/*** DANGER BUTTON ***/

@btn-danger-idle-color: @color-critical;
@btn-danger-idle-border-color: @color-critical;
@btn-danger-idle-bg: transparent;

@btn-danger-hover-color: @color-critical;
@btn-danger-hover-border-color: @color-critical;
@btn-danger-hover-bg: @color-critical-12;

@btn-danger-active-color: @color-critical;
@btn-danger-active-border-color: @color-critical;
@btn-danger-active-bg: @color-critical-12;
@btn-danger-active-shadow: 0 0 0 2px @color-critical-12;

@btn-danger-disabled-color: @color-critical;
@btn-danger-disabled-border-color: @color-critical;
@btn-danger-disabled-bg: transparent;

/*** DASHED BUTTON ***/
@btn-dashed-idle-color: @color-dark-grey-75;
@btn-dashed-idle-border-color: @color-dark-grey-75;
@btn-dashed-idle-bg: transparent;

@btn-dashed-hover-color: @color-dark-grey-75;
@btn-dashed-hover-border-color: @color-dark-grey-75;
@btn-dashed-hover-bg: @color-dark-grey-05;

@btn-dashed-active-color: @color-dark-grey-75;
@btn-dashed-active-border-color: @color-dark-grey-75;
@btn-dashed-active-bg: @color-dark-grey-12;
@btn-dashed-active-shadow: 0 0 0 2px @color-dark-grey-12;

@btn-dashed-disabled-color: @color-dark-grey-75;
@btn-dashed-disabled-border-color: @color-dark-grey-75;
@btn-dashed-disabled-bg: transparent;

@btn-border-width: 2px;
@btn-group-border-width: 1px;

/*** SELECT ***/

@select-item-hover-bg: @color-dark-grey-03;

@btn-padding-base: @style-size-2 @style-size-3;
@btn-font-size-lg: @font-size-lg;
@btn-padding-lg: 4px 15px 5px 15px;
@btn-padding-sm: 1px 7px;

@btn-circle-size: 28px;
@btn-circle-size-lg: 32px;
@btn-circle-size-sm: 22px;

@btn-group-border: @primary-7;

// Media queries breakpoints
// Extra small screen / phone
@screen-xs: 480px;
@screen-xs-min: @screen-xs;

// Small screen / tablet
@screen-sm: 768px;
@screen-sm-min: @screen-sm;

// Medium screen / desktop
@screen-md: 992px;
@screen-md-min: @screen-md;

// Large screen / wide desktop
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;

// Extra Large screen / full hd
@screen-xl: 1600px;
@screen-xl-min: @screen-xl;

// provide a maximum
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);
@screen-lg-max: (@screen-xl-min - 1);

// Grid system
@grid-columns: 24;
@grid-gutter-width: 0;

// Layout
@layout-body-background: #ececec;
@layout-header-background: #404040;
@layout-header-height: 64px;
@layout-header-padding: 0 50px;
@layout-footer-padding: 24px 50px;
@layout-sider-background: @layout-header-background;
@layout-trigger-height: 48px;
@layout-zero-trigger-width: 36px;
@layout-zero-trigger-height: 42px;

// z-index list
@zindex-affix: 10;
@zindex-back-top: 10;
@zindex-modal-mask: 1000;
@zindex-modal: 1000;
@zindex-notification: 1010;
@zindex-message: 1010;
@zindex-popover: 1030;
@zindex-picker: 1050;
@zindex-dropdown: 1050;
@zindex-tooltip: 1060;

// Animation
@animation-duration-slow: .3s; // Modal
@animation-duration-base: .2s;
@animation-duration-fast: .1s; // Tooltip

// Form
// ---
@label-required-color: @highlight-color;
@label-color: @text-color;
@form-item-margin-bottom: 24px;

// Input
// ---
@input-height-base: @style-size-4;
@input-height-lg: 32px;
@input-height-sm: 22px;
@input-padding-horizontal: @style-size-2;
@input-padding-vertical-base: @style-size-2;
@input-padding-vertical-sm: 1px;
@input-padding-vertical-lg: 6px;
@input-placeholder-color: @color-dark-grey-50;
@input-color: @color-dark-grey;
@input-border-color: @color-dark-grey-25;
@input-bg: @color-white;
@input-hover-border-color: @primary-color;
@input-disabled-bg: @background-color-base;

// Tooltip
// ---
//* Tooltip max width
@tooltip-max-width: 250px;
//** Tooltip text color
@tooltip-color: #fff;
//** Tooltip background color
@tooltip-bg: rgba(64, 64, 64, .85);
//** Tooltip arrow width
@tooltip-arrow-width: 5px;
//** Tooltip distance with trigger
@tooltip-distance: @tooltip-arrow-width - 1 + 4;
//** Tooltip arrow color
@tooltip-arrow-color: @tooltip-bg;

// Popover
// ---
//** Popover body background color
@popover-bg: #fff;
//** Popover maximum width
@popover-min-width: 177px;
//** Popover arrow width
@popover-arrow-width: 4px;
//** Popover arrow color
@popover-arrow-color: @popover-bg;
//** Popover outer arrow width
@popover-arrow-outer-width: (@popover-arrow-width + 1);
//** Popover outer arrow color
@popover-arrow-outer-color: fadeout(@border-color-base, 30%);

// Progress
// --
@process-default-color: @primary-color;

// Menu
// ---
@menu-dark-bg: @primary-color;
@menu-dark-submenu-bg: #333;

// Spin
// ---
@spin-dot-size-sm: 14px;
@spin-dot-size: 20px;
@spin-dot-size-lg: 32px;

// TimePicker
// ---
@time-picker-panel-column-width: 56px;
@time-picker-panel-width: @time-picker-panel-column-width * 3;

// Carousel
// ---
@carousel-dot-width: 16px;
@carousel-dot-height: 3px;
@carousel-dot-active-width: 24px;

// Badge
// ---
@badge-height: 20px;
@badge-dot-size: 8px;

// Rate
// ---
@rate-star-color: #f5a623;
@rate-star-bg: #e9e9e9;

// Input Error
.has-error {
  .@{ant-prefix} {
    &-input {
      border-color: @color-critical;
      &:focus {
        box-shadow: 0 0 0 2px @color-critical-25;
      }
    }
  }
}

.@{ant-prefix} {

  &-badge {
    &.small {
      > sup {
        line-height: 14px !important;
        padding: 0 4px;
        min-width: 16px !important;
        height: 16px;
        border-radius: 100px;
      }
      p {
        font-size: 10px;
        line-height: 15px;
        height: 20px;
      }
      &.warning {
        sup {
          background-color: @color-warning;
        }
      }
      &.critical {
        sup {
          background-color: @color-critical;
        }
      }
      &.positive {
        sup {
          background-color: @color-positive;
        }
      }
    }
  }

  // buttons
  &-btn {
    //Button default
    height: auto;
    line-height: 14px;
    border-width: @btn-border-width;
    .font-ghost-button;

    i {
      .font-button-normal-icon;
    }

    .buttonGenerator(
      @btn-ghost-idle-color,
      @btn-ghost-idle-border-color,
      @btn-ghost-idle-bg
    );

    &:focus {
      .buttonGenerator(
        @btn-ghost-idle-color,
        @btn-ghost-idle-border-color,
        @btn-ghost-idle-bg
      );
    }

    &:hover {
      .buttonGenerator(
        @btn-ghost-hover-color,
        @btn-ghost-hover-border-color,
        @btn-ghost-hover-bg
      );
    }

    &:active {
      .buttonGenerator(
        @btn-ghost-active-color,
        @btn-ghost-active-border-color,
        @btn-ghost-active-bg,
        @btn-ghost-active-shadow
      );
    }

    &[disabled], &[disabled]:hover, &[disabled]:active {
      .font-ghost-button;
      opacity: 0.4;

      .buttonGenerator(
        @btn-ghost-disabled-color,
        @btn-ghost-disabled-border-color,
        @btn-ghost-disabled-bg
      );
    }

    // Button primary
    &-primary {
      .font-button-normal;

      .buttonGenerator(
        @btn-primary-idle-color,
        @btn-primary-idle-border-color,
        @btn-primary-idle-bg
      );

      &:focus {
        .buttonGenerator(
          @btn-primary-idle-color,
          @btn-primary-idle-border-color,
          @btn-primary-idle-bg
        );
      }

      &:hover {
        .buttonGenerator(
          @btn-primary-hover-color,
          @btn-primary-hover-border-color,
          @btn-primary-hover-bg
        );
      }
      &:active {
        .buttonGenerator(
          @btn-primary-active-color,
          @btn-primary-active-border-color,
          @btn-primary-active-bg,
          @btn-primary-active-shadow
        );
      }
      &[disabled], &[disabled]:hover, &[disabled]:active {
        opacity: 0.4;
        .buttonGenerator(
          @btn-primary-disabled-color,
          @btn-primary-disabled-border-color,
          @btn-primary-disabled-bg
        );
      }
    }

    // Button danger
    &-danger {

      .buttonGenerator(
        @btn-danger-idle-color,
        @btn-danger-idle-border-color,
        @btn-danger-idle-bg
      );

      &:focus {
        .buttonGenerator(
          @btn-danger-idle-color,
          @btn-danger-idle-border-color,
          @btn-danger-idle-bg
        );
      }

      &:hover {
        .buttonGenerator(
          @btn-danger-hover-color,
          @btn-danger-hover-border-color,
          @btn-danger-hover-bg
        );
      }

      &:active {
        .buttonGenerator(
          @btn-danger-active-color,
          @btn-danger-active-border-color,
          @btn-danger-active-bg,
          @btn-danger-active-shadow
        );
      }

      &[disabled], &[disabled]:hover, &[disabled]:active {
        opacity: 0.4;

        .buttonGenerator(
          @btn-danger-disabled-color,
          @btn-danger-disabled-border-color,
          @btn-danger-disabled-bg
        );
      }
    }

    // Button dashed
    &-dashed {

      border-width: 1px;

      .buttonGenerator(
        @btn-dashed-idle-color,
        @btn-dashed-idle-border-color,
        @btn-dashed-idle-bg
      );

      &:focus {
        .buttonGenerator(
          @btn-dashed-idle-color,
          @btn-dashed-idle-border-color,
          @btn-dashed-idle-bg
        );
      }

      &:hover {
        .buttonGenerator(
          @btn-dashed-hover-color,
          @btn-dashed-hover-border-color,
          @btn-dashed-hover-bg
        );
      }

      &:active {
        .buttonGenerator(
          @btn-dashed-active-color,
          @btn-dashed-active-border-color,
          @btn-dashed-active-bg,
          @btn-dashed-active-shadow
        );
      }

      &[disabled], &[disabled]:hover, &[disabled]:active {
        opacity: 0.4;

        .buttonGenerator(
          @btn-danger-disabled-color,
          @btn-danger-disabled-border-color,
          @btn-danger-disabled-bg
        );
      }

    }

    &-clicked {
      &:after {
        display: none; // hide ant transition effect
      }
    }
    border-radius: 3px;
    &:not(.ant-btn-icon-only){
      border-radius: 100px;
    }
    &:not(.ant-btn-icon-only) > .anticon {
      line-height: 0; // fix icon height
    }

    &-sm {
      .font-button-sm;
      padding: @style-size-1 @style-size-2;
    }
  }

  &-btn-icon-only {
    width: @style-size-4;
    height: @style-size-4;
    padding: 4px !important;
    border: 0;
    i {
      .font-button-icon;
    }
    &:hover {
      background: @color-primary-1;
    }
    &.@{ant-prefix}-btn-sm {
      width: @style-size-3-1;
      height: @style-size-3-1;
      padding: 0 !important;
      i {
        .font-button-sm-icon;
      }
    }
    &.transparent {
      background-color: transparent;
      &:hover {
        background-color: @color-primary-1;
      }
    }
  }
  &-btn-icon-only.dark {
    background: @color-primary;
    i {
      .font-button-icon-dark;
    }
    &:hover {
      background: @color-primary-4-30;
    }
    &:active {
      box-shadow: 0 0 0 2px @color-primary;
    }
  }

  &-radio-button-wrapper-checked {
    .font-primary-button;
    font-size: 14px;
    background-color: @color-primary;
    &:hover {
      color: #fff;
      background-color: @color-primary-30;
    }
    &:active {
      color: #fff;
      background-color: @color-primary;
    }
    &[disabled], &[disabled]:hover, &[disabled]:active {
      .font-primary-button;
      font-size: 14px;
      opacity: 0.4;
      background-color: @color-primary;
    }
    font-weight: 400;
  }

  // inputs
  &-input {
    .font-input;

    &:hover {
      background: @color-dark-grey-03;
      border-color: @color-dark-grey-25;
    }

    &:focus {
      box-shadow: none;
      background: @color-white;
      border-color: @color-dark-grey-50;
    }

    //Input Disabled
    &[disabled] {
      background: @color-white;
      border-color: @color-dark-grey-12;
      &:hover {
        border-color: @color-dark-grey-12;
      }
    }
  }

  // checkbox
  &-checkbox-wrapper {
    .font-input;

    .@{ant-prefix} {
      &-checkbox-input {
        width: @style-size-3;
        height: @style-size-3;
        &:focus {
          & + .@{ant-prefix} {
            &-checkbox-inner {
              background: @color-dark-grey-03;
              border-color: @color-dark-grey-25;
            }
          }
        }
      }

      &-checkbox {
        &:hover {
          .@{ant-prefix} {
            &-checkbox-inner {
              background: @color-dark-grey-03;
              border-color: @color-dark-grey-25;
            }
          }
        }
      }

      &-checkbox-indeterminate, &-checkbox-indeterminate:hover {
        .@{ant-prefix} {
          &-checkbox-inner {
            background: @color-primary;
            border-color: @color-primary;
            &:after {
              border-color: @color-white;
              left: 3px;
              top: 6px;
            }
          }
        }
      }

      &-checkbox-inner, &-checkbox-input {
        top: -1px;
      }

      &-checkbox-inner {
        width: @style-size-3;
        height: @style-size-3;
        &:hover {
          background: @color-dark-grey-03;
          border-color: @color-dark-grey-25;
        }
      }

      &-checkbox-checked {
        .@{ant-prefix} {
          &-checkbox-input {
            &:focus {
              & + .@{ant-prefix} {
                &-checkbox-inner {
                  background: @color-primary;
                  border-color: @color-primary;
                }
              }
            }
          }
          &-checkbox-inner {
            background: @color-primary;
            border-color: @color-primary;
            &:after {
              left: 5px;
              top: 2px;
              border-color: @color-white;
            }
          }
        }
        &:hover {
          .@{ant-prefix} {
            &-checkbox-inner {
              background: @color-primary-4;
              border-color: @color-primary-4;
            }
          }
        }
      }
    }
  }

  // select
  &-select {
    min-height: @style-size-4;
    .font-input;

    &.@{ant-prefix}-select-focused {
      .@{ant-prefix}-select-selection {
        border-color: @color-dark-grey-25;
        box-shadow: none;
      }
    }

    .@{ant-prefix} {
      &-select-selection {
        &:hover {
          background: @color-dark-grey-03;
          border-color: @color-dark-grey-25;
        }
        &:focus {
          border-color: @color-dark-grey-25;
          box-shadow: none;
        }
        box-shadow: none;
      }
    }
    .ant-select-selection__choice {
      background: @color-dark-grey-75;
      border-radius: 15px;
      color: @color-white;
      .ant-select-selection__choice__remove:before {
        color: @color-white;
      }
    }
  }

  &-select-open {
    .@{ant-prefix} {
      &-select-selection {
        box-shadow: none;
        border-color: @color-dark-grey-50;
        &:hover {
          background: @color-white;
          //border-color: @color-primary-3;
        }
        &:focus {
          //border-color: @color-primary-3;
          box-shadow: none;
        }
      }
    }
  }

  &-select-search__field {
    .font-input;
  }

  &-select-disabled {
    .@{ant-prefix} {
      &-select-selection {
        border-color: @color-dark-grey-12;
        background: @color-white;
        &:hover, &:focus {
          border-color: @color-dark-grey-12;
          background: @color-white;
        }
      }
    }
  }

  &-select-dropdown-menu-item {
    .font-input;

    &:hover {
      background: @select-item-hover-bg;
    }
  }

  &-select-dropdown-menu-item-selected {
    &:hover {
      .font-input;
    }
  }

  &-select-dropdown-menu-item-disabled {
    color: @color-dark-grey-25;
  }

  &-table-wrapper {
    .@{ant-prefix} {
      &-table-thead th {
        .font-table-head;
        padding: @style-size-2;
        height: 20px;
      }
      &-table-tbody td {
        .font-descriptions;
        padding: @style-size-3 @style-size-2;
        height: 64px;
      }
      &-table-selection-column {
        line-height: 0;
      }
    }
  }
  &-table-column-sorter .anticon-caret-up, &-table-column-sorter .anticon-caret-down {
    color: @color-dark-grey-25;
  }

  &-radio-inner {
    width: @style-size-3;
    height: @style-size-3;
    top: -1px;
    &:after {
      left: @style-size-1;
      top: @style-size-1;
    }
  }

  &-radio-wrapper {
    .font-input;
    input {
      width: @style-size-3;
      height: @style-size-3;
    }
  }

  &-popover.danger &-popover-buttons button:nth-child(2) {
    .font-ghost-button-critical;
    .font-button-sm;
    background: @color-white;
    border-color: @color-critical;
    &:hover {
      color: @color-white;
      border-color: @color-critical;
      background-color: @color-critical;
    }
    &:active {
      box-shadow: 0 0 0 2px @color-critical-25;
    }
    font-weight: 500;
  }

  &-popover-buttons {
    button {
      min-width: 48px;
    }
    button:nth-child(1) {

    }
    button&:nth-child(2) {

    }
  }

  &-tabs {
    .@{ant-prefix} {
      &-tabs-nav {
        .@{ant-prefix}-tabs-tab {
          .font-inactive-tab;
          padding: @style-size-2 0;
          margin: 0 @style-size-3-1;
          &:nth-child(2) {
            margin-left: @style-size-3;
          }
          &:last-child {
            margin-right: @style-size-3;
          }
          &-active {
            .font-active-tab;
          }
        }
        .@{ant-prefix}-tabs-ink-bar {
          height: @style-size-1-1;
        }
      }
      &-tabs-bar {
        margin-bottom: 0;
      }
    }
  }
  &-upload-text {
    .font-body-text !important;
  }
  &-upload-hint {
    .font-body-hint !important;
  }
  &-upload-drag-container {
    background: @color-dark-grey-03;
  }
  &-popover-inner-content {
    padding: @style-size-2 @style-size-3;
  }
  &-dropdown-link {
    .font-input;
  }
  &-time-picker-input {
    .font-input;
  }
  &-time-picker-icon {
    line-height: 0;
    top: 50%;
    margin-top: -8px;
  }
  &-calendar-picker-icon {
    margin-top: -8px;
  }

  &-calendar-picker-container {
    z-index: 95;
  }

  &-dropdown-menu&-dropdown-menu-vertical {
    .@{ant-prefix}-dropdown-menu-item {
      .font-input;
    }
  }

  &-input-number {
    width: 100%;
    input {
      .font-input !important;
    }
  }

  &-form-item-label {
    .font-field-name-label;
    height: @style-font-size-1;
    text-transform: uppercase;
    margin-bottom: 4px;
    label {
      .font-field-name-label;
      &:after {
        display: none;
      }
    }
  }
  &-form-inline &-form-item > &-form-item-label {
    text-align: left;
    display: block;
  }
  &-form-inline &-form-item.position-center, .ui-form-items-group &-form-item.position-center {
    button {
      margin-top: 16px;
    }
  }
  &-row&-form-item {
    line-height: 0;
  }
  &-form-item.none-offset {
    margin: 0;
  }
  &-form-item.extra-small-offset {
    margin-bottom: 4px;
  }
  &-form-item.small-offset {
    margin-bottom: 8px;
  }
  &-form-item.normal-offset {
    margin-bottom: 16px;
  }
  &-form-item.medium-offset {
    margin-bottom: 24px;
  }
  &-form-item.large-offset {
    margin-bottom: 32px;
  }
  &-form-item {
    .font-body-text;
  }

  &-input {
    padding-top: 0;
    padding-bottom: 0;
  }

  &-badge {
    font-size: 12px;
    p {
      font-size: 12px;
    }
    &.warning {
      sup {
        background-color: @color-warning;
      }
    }
    &.critical {
      sup {
        background-color: @color-critical;
      }
    }

    sup {
      min-width: 32px;
      vertical-align: middle;
      line-height: 19px !important;
    }
  }

  &-calendar-picker-input {
    input {
      font-weight: 300;
      font-size: 14px;
    }
  }

  &-table-placeholder {
    font-size: 16px;
  }

  &-switch {
    &.ant-switch-checked{
      border-color: @primary-color;
      background-color: @primary-color;
    }
  }

  //&-btn {
  //  padding: 8px 16px !important;
  //  border: 0;
  //  line-height: 16px;
  //  .font-primary-button;
  //  &:hover {
  //    //background: @color-primary-5;
  //  }
  //  &:active {
  //    //box-shadow: 0 0 0 2px @color-primary-2;
  //  }
  //  & > .anticon {
  //    line-height: 0;
  //  }
  //}
  //&-confirm-title {
  //  font-weight: 400 !important;
  //}
  //&-select-dropdown-menu-item {
  //  font-size: 15px;
  //}
  //&-select-selection {
  //  height: 32px;
  //}
  //&-select-selection__rendered {
  //  line-height: 30px;
  //}
  //&-select-dropdown-menu-item-active {
  //  font-size: 15px;
  //  font-weight: 400 !important;
  //}
  //&-select-selection-selected-value {
  //  font-size: 16px;
  //  color: #212227;
  //}
  //&-select-dropdown-menu-item-selected {
  //  font-size: 15px;
  //  font-weight: 400;
  //  &.@{ant-prefix}-select-dropdown-menu-item-active {
  //    font-weight: 400 !important;
  //  }
  //  &:hover {
  //    font-weight: 400;
  //  }
  //}
  //&-table-wrapper {
  //  .@{ant-prefix} {
  //    &-table-thead th {
  //      padding: 8px;
  //      height: 20px;
  //      font-weight: 300;
  //      color: rgba(33, 34, 39, 0.75);
  //      font-size: 16px;
  //    }
  //    &-table-tbody td {
  //      font-size: 16px;
  //      padding: 15px 8px;
  //      height: 64px;
  //      font-weight: 300;
  //      color: rgba(33, 34, 39, 0.75);
  //    }
  //    &-table-selection-column {
  //      line-height: 0;
  //    }
  //  }
  //}
  //&-btn-danger {
  //  border-color: #d3435c;
  //  color: #d3435c;
  //  background: #fff;
  //  font-size: 16px;
  //  padding: 3px 16px !important;
  //  &:active {
  //    background: #d3435c;
  //    color: #fff;
  //  }
  //}
  //&-upload-drag-icon {
  //  margin-bottom: 12px !important;
  //  .anticon {
  //    color: #007dc4 !important;
  //  }
  //}

  &-back-top {
    right: 80px;
    bottom: 40px;
    .@{ant-prefix}-back-top-inner {
      height: 40px;
      width: 40px;
      line-height: 40px;
      border-radius: 40px;
      background-color: @color-primary-30;
      color: #fff;
      text-align: center;
      font-size: 20px;
    }
  }
}

.ant-btn.ant-btn-primary.positive {
  .button-positive-generator();
}

.ant-select-selection--multiple > ul > li, .ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
  margin-top: 3px;
}

.ant-select-selection--single .ant-select-selection__rendered .ant-select-search__field {
  height: 30px;
}

.ant-input-affix-wrapper {
  .ant-input:hover {
    border-color: @color-dark-grey-25;
  }
  .ant-input:active, .ant-input:focus {
    border-color: @color-dark-grey-50 !important;
  }
}

.has-error .ant-form-explain {
  color: @color-dark-grey-50;
}

a:focus {
  text-decoration: none
}

span.switch-label {
  vertical-align: middle;
  margin-left: 4px;
  &.font-size-medium {
    font-size: @style-font-size-2;
  }
}

.ant-badge-not-a-wrapper {
  sup {
    font-size: 10px;
    line-height: 15px;
  }
}

.vertical-center-modal{
  text-align: center;
  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
}

.ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
  padding-bottom: 24px;
  &.ant-confirm-info,
  &.ant-confirm-warning,
  &.ant-confirm-error,
  &.ant-confirm-success {
    display: block;
    top: 150px;
  }
}

.ant-form-item {
  font-weight: 400;
  &-label {
    label {
      font-weight: 300;
    }
  }
}

.ant-input, .ant-select, .ant-select-dropdown, .ant-select-dropdown-menu-item, .ant-radio-wrapper {
  font-weight: 400;
}

.ant-btn-group {
  > button {
    border-width: @btn-group-border-width;
    border-radius: 5px;
  }
  > .ant-btn:not(.ant-btn-icon-only) {
    border-radius: 5px;
  }
}

.ant-slider {
  &-track {
    background-color: @primary-color;
  }
  &:hover {
    .ant-slider-track {
      background-color: @primary-color
    }
  }
  &-handle {
    width: 24px;
    height: 24px;
    margin-left: -13px;
    margin-top: -10px;
    border: 0;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    &.ant-tooltip-open {
      &:before {
        width: 8px;
        height: 8px;
        margin-top: -4px;
        margin-left: -4px;
      }
    }
    &:active {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    }
    &:hover {
      transform: none;
    }
    &:before {
      transition: .15s;
      position: absolute;
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 100px;
      top: 50%;
      left: 50%;
      margin-top: -2px;
      margin-left: -2px;
      background: red;
    }
  }
  &:hover {
    .ant-slider-handle {
      &:before {
        width: 8px;
        height: 8px;
        margin-top: -4px;
        margin-left: -4px;
      }
    }
  }
  &.ant-slider-tooltip-disable {

  }
}

h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 22px;
}
