@color-primary-1: #e5f2fa;
@color-primary-2: #bfdff0;
@color-primary-3: #8ac3e6;
@color-primary-4: #45a2d8;
@color-primary-4-30: rgba(69, 162, 216, 0.3); //
@color-primary-5: #007dc4;
@color-primary-6: #026bb1;
@color-primary-7: #035a9d;
@color-primary-8: #034986;
@color-primary-9: #023870;
@color-primary-10: #022658;

@color-positive: #24c48e;
@color-warning: #ed9d00;
@color-critical: rgba(211, 67, 92, 1);
@color-critical-25: rgba(211, 67, 92, 0.25);
@color-black: #0f0f13;
@color-white: #ffffff;
@color-dark-grey: #212227;

@color-dark-grey-75: rgba(32, 34, 39, 0.75);
@color-dark-grey-50: rgba(32, 34, 39, 0.5);
@color-dark-grey-25: rgba(32, 34, 39, 0.25);
@color-dark-grey-12: rgba(32, 34, 39, 0.125);
@color-dark-grey-03: rgba(32, 34, 39, 0.03);
@color-white-75: rgba(255, 255, 255, 0.75);
@color-white-50: rgba(255, 255, 255, 0.5);
@color-white-25: rgba(255, 255, 255, 0.25);

@style-size-1: 4px;
@style-size-2: 8px;
@style-size-3: 16px;
@style-size-4: 32px;
@style-size-5: 64px;

@style-font-size-1: 12px;
@style-font-size-1-2: 14px;
@style-font-size-2: 16px;
@style-font-size-3: 18px;
@style-font-size-4: 20px;
@style-font-size-5: 24px;
@style-font-size-6: 36px;

@style-font-size-base: @style-font-size-2;
@shadow-color: rgba(0, 0, 0, .2);

.font-h1 {
  font-size: @style-font-size-6;
  color: @color-dark-grey;
  font-weight: 300;
}

.font-h2 {
  font-size: @style-font-size-5;
  color: @color-dark-grey;
  font-weight: 300;
}

.font-text-style {
  font-size: @style-font-size-4;
  color: @color-white;
  font-weight: 300;
  line-height: @style-size-4;
}

.font-active-tab {
  font-size: @style-font-size-3;
  color: @color-dark-grey;
  font-weight: 400;
}

.font-inactive-tab {
  font-size: @style-font-size-3;
  color: @color-dark-grey-75;
  font-weight: 300;
}

.font-body-hint {
  font-size: @style-font-size-2;
  color: @color-dark-grey-75;
  font-weight: 300;
}

.font-ghost-button {
  font-size: @style-font-size-2;
  color: @color-primary-5;
  font-weight: 300;
}

.font-primary-button {
  font-size: @style-font-size-2;
  color: @color-white;
  font-weight: 300;
}

.font-ghost-button-critical {
  font-size: @style-font-size-2;
  color: @color-critical;
  font-weight: 300;
}

.font-descriptions {
  font-size: @style-font-size-2;
  color: @color-dark-grey-75;
  font-weight: 300;
}

.font-input {
  font-size: @style-font-size-2;
  color: @color-dark-grey;
  font-weight: 300;
}

.font-input-hint {
  font-size: @style-font-size-2;
  color: @color-dark-grey-50;
  font-weight: 300;
}

.font-field-name-label {
  font-size: @style-font-size-1;
  color: @color-dark-grey-50;
  font-weight: 300;
}

.font-table-head {
  font-size: @style-font-size-2;
  color: @color-dark-grey;
  font-weight: 300;
}

.font-menu-item {
  font-size: @style-font-size-2;
  color: @color-white;
  line-height: @style-size-4;
}

.font-simple-white {
  font-size: @style-font-size-1-2;
  line-height: @style-size-4;
  color: @color-white;
}

.font-button-icon {
  font-size: @style-font-size-4;
  color: @color-primary-5;
  line-height: @style-font-size-4;
}

.font-button-sm {
  font-size: @style-font-size-1-2;
}

.font-button-icon-dark {
  .font-button-icon;
  color: @color-white;
}

.base-shadow {
  box-shadow: 0 0 30px 0 @shadow-color;
}
