@import 'components/Layout/style-guide';

.page-layout {
  min-height: 100%;
}

.page-layout-navigation {
  padding: @style-size-4;
  background: @color-white;
}

.page-layout-content {
  padding: @style-size-4;
  background: @color-background;
}
