@import "components/Layout/style-guide";

.product-manage-dashboard--add-widget-tools {
  padding: 0 @style-size-2;
}
.product-manage-dashboard--add-widget-tools-title {}
.product-manage-dashboard--add-widget-tools-buttons {
  margin: @style-size-3 0;
  button {
    width: @style-size-4-1;
  }
  .ant-btn-group{
    .ant-btn:first-child:not(:last-child){
      padding-left: 8px;
    }
    .ant-btn:last-child:not(:first-child){
      padding-right: 8px;
    }
  }
}

.product-manage-dashboard--add-widget-tools-buttons--switch {
  vertical-align: middle;
  font-size: 15px;
  line-height: 8px;
}
